#browser{width:650px;height:320px;padding:60px 40px;background:#fff;border-radius:3px;position:absolute;left:50%;margin-left:-325px;top:50%;margin-top:-190px;z-index:7000}
#browser .b-title{color:#35b558;font-size:20px;text-align:center}
#browser .b-title strong{color:#35b558;font-size:24px;text-align:center}
#browser p{color:#666;font-size:12px;line-height:22px;margin:30px 0 70px}
#browser .downloading{text-align:center}
#browser .downloading a{display:inline-block;margin:0 20px}
#browser .downloading img{border:none}
#browser .server-link{text-align: center;}
#browser .server-link a{color: #35b558;text-decoration: underline;font-size: 12px;}